<h1>Contact</h1>

<div>
  <form action="post" id="forms">
    <label for="">Your Firstname
      <input type="text" name="firstname">
    </label>
    <label for="">Your Lastname
      <input type="text" name="lasttname">
    </label>
    <label for="description">Add your reason here</label>
    <textarea name="description" id="description" cols="50" rows="5"></textarea>
    <label for="genre">
      <input type="radio" name="gender" value="male"> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other
    </label>
    <button id="btn" type="button" onclick="">Send</button>
  </form>
</div>